<td>
  <%= expense.asset.description %>
</td>
<td>
  <% expense.tags.each do |tag| %>
  	<%= link_to(tag.name, tag_path(tag), class: 'button-xs', style: "background-color: ##{tag.color}") %>
  <% end %>
</td>
<td>
  <%= expense.description %>
</td>
<td>
  <%= expense.amount %>
</td>
<td>
<%= link_to("Edit", edit_expense_path(expense), class: 'button-xs') %>
</td>
<td>
<%= link_to("Delete", expense_path(expense), data: { confirm: "Are you sure?" }, method: :delete, class: 'button-xs' ) %>
</td>