<h1>Your assets:</h1>
<br/>
<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<% @assets.each do |asset| %>
  <p>Asset: type: <%=asset.asset_type%> amount: <%= asset.amount %>
	  <%= link_to("Delete asset", asset_path(asset), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') %>
  </p>
<% end %>

<%= link_to "Add new asset", new_asset_path %><br />
