<div class='expense-form'>
<%= form_for(@expense) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class='form-group'>
    <%= f.label "Asset" %>
    
    <div class="btn-group" data-toggle="buttons">
        <% current_user.assets.each do |asset| %>
          <% set_selected = "active" if @expense.asset.nil? == false and asset.id == @expense.asset.id %>
          <label class="btn btn-primary <%= set_selected %>">
            <input type="radio" name="expense[asset_id]" id="expense_asset_<%= asset.id %>" value="<%= asset.id %>"><%= asset.description %>
          </label>
        <% end %>
      </ul>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :description %>
	<%= f.text_field :description, placeholder: "Groceries", class: 'form-control' %>
  </div>
  <div class='form-group'>
	<%= f.label :amount %>
	<%= f.text_field :amount, placeholder: "123.45", class: 'form-control' %>
  </div>
  <%= f.submit submit_text, class: "btn btn-large btn-primary" %>
<% end %>
</div>